.Header {
    
    // background-color: rgba(255, 255, 255, 0.1);
    // backdrop-filter: blur(10px);
    color: white;
    position: fixed;
    z-index: 10;
    width: 100%;
    header {
        border-bottom: 1px solid rgba(255, 255, 255, 0.351);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        
    }
   
}
.mainNavLink {
    padding: 0 1em;
    font-weight: 300;
    text-transform: uppercase;
    font-size: .75em;
}
