:root {
  --site-width: 1280px;
  --swiper-navigation-color: white !important;
  --swiper-theme-color: white !important;
  --swiper-navigation-size: 48px !important;
  --swiper-pagination-bullet-size: 16px !important;
  --swiper-pagination-bullet-horizontal-gap: 8px !important;
}

h1,
h2,
.char {
  font-family: var(--font-title);
}
.letter {
  white-space: pre;
  display: inline-block;
  font-family: var(--font-title);
}

h1,
h2 {
  font-size: 1.4rem;
  margin: 0;
  @include m.mq(sm) {
    font-size: 3rem;
  }
}
p {
  line-height: 1.5;
  margin: 0 0 1em 0;
}
.container {
  max-width: var(--site-width);
  margin: 0 auto;
  padding: 0 15px;
}
.black {
  color: black;
}
.white {
  color: white;
}
.gray {
  color: '#39414D';
}
.green {
  color: '#D1E4DD';
}
.blue {
  color: '#D1DFE4';
}
.purple {
  color: '#D1D1E4';
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.swiper {
  height: 100vh;
}

.cover .columns {
  margin-top: 80px;
}

.btn {
  display: inline-flex;
  width: fit-content;
  padding: 1rem 2rem;
  background-color: transparent;
  border: 2px solid #505050;
}

// .scrolled .header {
//   --color: #000;
//   --background: #fff;
//   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
//   .nav {
//     a {
//       padding: 15px 1rem;
//     }
//   }
// }

.swiper-slide {
  background-color: #000;
  .content {
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    left: 10%;
    max-width: 70%;
    color: #fff;
    z-index: 1;

    h2 {
      font-size: 2rem;
      @include m.mq(sm) {
        font-size: 3rem;
      }
    }
    font-size: 1.2rem;
    .sliderText {
      font-weight: 200;
      margin: 1rem 0;
      letter-spacing: 0.5px;
      max-width: 760px;
    }
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  // img {
  //   clip-path: circle(50% at 70% 50%);
  // }
}

// .sliderHeading .letter {
//   transform: translate3d(0, 50%, 0);
//   opacity: 0;
// }
