:root {
  --site-width: 1280px;
}

h1,
h2,
.char {
  font-family: var(--font-title);
}
h1,
h2 {
  font-size: 3rem;
  margin: 0;
}
p {
  line-height: 1.5;
  margin: 0 0 1em 0;
}
.container {
  max-width: var(--site-width);
  margin: 0 auto;
  padding: 0 15px;
}
.black {
  color: black;
}
.white {
  color: white;
}
.gray {
  color: '#39414D';
}
.green {
  color: '#D1E4DD';
}
.blue {
  color: '#D1DFE4';
}
.purple {
  color: '#D1D1E4';
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.cover .columns {
  margin-top: 80px;
}

.btn {
  display: inline-flex;
  width: fit-content;
  padding: 1rem 2rem;
  background-color: transparent;
  border: 2px solid #505050;
}

// .scrolled .header {
//   --color: #000;
//   --background: #fff;
//   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
//   .nav {
//     a {
//       padding: 15px 1rem;
//     }
//   }
// }
