.Footer {
    background: #f8f9fb url(/topography.svg);
    background-size: 1000px;
    background-position: 50%;
    padding: 120px 0;

    footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 60px;
    }
    nav {
        margin-bottom: 4rem;
        a {
            display: block;
            margin: 12px 0;
            width: fit-content;
            border-bottom: 1px solid #505050;
        }
    }
    h4 {
        margin: 0 0 1rem 0;
    }
    h5 {
        margin: 0;
    }
}
.ContactBox {
    margin-top: 30px;
}
.ContactRow {
    display: flex;
    gap: 12px;
    svg {
        font-size: 24px;
    }
}